*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    margin: 0 40px;
    position: fixed;
}
.nav__image{
    width: 200px;
    padding-top: 17px;
}
.nav__div{
   margin-left: 211px;
}
.nav__links{
    text-decoration: none;
    padding: 20px 15px;
    font-size: 17px;
    font-weight: 800;
    color: #fff;
}
.nav__links-border{
    border-bottom: 2px solid #4b39ef;
    text-decoration: none;
    padding: 20px 15px;
    font-size: 17px;
    font-weight: 800;
    color: #fff;
}
.nav__button__one{
    padding: 15px 24px;
    margin-right: 15px;
    font-size: 16px;
    border: 2px solid #14181b;
    color: white;
    background-color: #14181B;
    border-radius: 5px;
    margin-left: 39px;
    cursor: pointer;
    margin-top: 12px;
}
.nav__button__one:hover{
    background-color: black;
}
.nav__button__two{
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #4B39EF;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #4B39EF;
}
.nav__button__two:hover{
    background-color: #301fcb;
}
nav,header{
    background-color: #301fcb;
}
header{
    display: flex;
    padding-bottom: 166px;
}
.header__image{
    margin-right: -55px;
    margin-top: 107px;
    width: 785px;
    height: 711px;
}
.header__heading{
    color: #fff;
    font-size: 56px;
    line-height: 64px;
    width: 103%;
    margin-bottom: 10px;
}
.header__div{
    margin-top:200px ;
    padding: 30px 67px 0 67px;
}
.header__paragraph{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 5px 0;
    margin: 10px 0;
    width: 101%;
}
.header__button{
    padding: 15px 24px;
    font-size: 16px;
    border: 2px solid #31bfae;
    background-color: #31bfae;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.header__button:hover{
    background-color: #249689;
}
.template-screen{
    padding-top: 20px;
    padding-bottom: 134px;
    background-color: #14181b;
}
body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.template-screen-heading{
    padding-bottom: 15px;
    padding-top: 40px;
    font-family: Productsans, sans-serif;
    color: #fff;
    font-weight: 700;
    line-height: 48px;
    font-size: 48px;
    text-align: center;
}
.template-screen-paragraph{
    line-height: 28px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
    width: 83%;
    margin-left: 116px;
}
.multiple-mobiles{
    width: 104%;
    height: 477px;
    margin-left: -48px;
    background-image: url('https://flutterflow.io/images/features_phones_12x-p-1600.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}
.easily{
    padding: 50px 134px 299px 134px;
    background-color: #14181b;
    display: flex;
    justify-content: center;
}
.easily__heading1{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #31bfae;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.dragmob__heading1{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #31bfae;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.easily__heading2{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Productsans, sans-serif;
    color: #fff;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    text-align: left;
}
.dragmob__heading2{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Productsans, sans-serif;
    color: #fff;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    text-align: left;
    width: 119%;
}
.easily__heading3{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Productsans, sans-serif;
    color: #fff;
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    text-align: left;
    width: 240px;
    margin-top: -123px;
}
.easily__para1{
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.3px;
    width: 83%;
    margin-bottom: 20px;
}
.easily__para2{
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.3px;
    width: 83%;
}
.easily__div1{
    display: flex;
    margin-top: 88px;
}
.easily__para3{
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.3px;
    width: 102%;
    text-align: center;
    margin-left: 5px;
}
.easily__para4{
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.3px;
    width: 103%;
    text-align: center;
    margin-left: -13px;
}
.easily__div2{
    margin-right: 10px;
    text-align: center;
    background-image: url('https://flutterflow.io/images/features_SketchDesign2x.png');
    background-repeat: repeat-x;
    background-size: cover;
    margin-bottom: -245px;
}
.drag-mob{
    padding: 50px 134px;
    background-color: #393639;
    display: flex;
}
.dragmob__div1{
    margin-left: 113px;
    margin-top: 90px;
}
.dragmob__para{
    color: hsla(0, 0%, 100%, 0.8);
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-family: Productsans, sans-serif;
    width: 111%;
}
.unlimited{
    padding: 80px 134px 50px 144px;
    background-color: #14181b;
}
.unlimited__para1{
    margin-bottom: 30px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.3px;
    width: 76%;
}
.unlimited__para2{
    margin-bottom: 25px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-size: 16px;
    text-align: left;
    margin: 0 20px;
    width: 89%;
}
.unlimited-section-images{
    width: 345px;
    height: 318px;
}
.manguin-image{
    width: 345px;
    height: 340px;
    border-radius: 8px;
}
.unlimited-section-div2{
    width: 346px;
    height: 470px;
    border-style: solid;
    border-width: 1px;
    border-color: #14181b;
    border-radius: 8px;
    background-color: #090f13;
    box-shadow: -1px -1px 3px 0 rgb(66 78 90 / 50%), 2px 2px 8px 7px rgb(0 0 0 / 35%), 1px 1px 4px 0 rgb(9 15 19 / 45%);
    margin-right: 16px;
    margin-bottom: 20px;
}
.unlimited__heading{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #fff;
    margin-left: 20px;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.unlimited-section-div1{
    display: flex;
}
.building{
    padding: 50px 0 70px 0;
    background-color: #4b39ef;
    text-align: center;
}
.section-four-heading-one{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 52px;
}
.section-four-paragraph{
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Productsans, sans-serif;
    color: hsla(0, 0%, 100%, 0.8);
    text-align: center;
    font-size: 16px;
}
.section-four-button-one{
    min-width: 150px;
    margin-right: 20px;
    margin-left: 0px;
    background-color: #3124a1;
    border: 1px solid #3124a1;
    color: #fff;
    max-width: 250px;
    padding: 15px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.section-four-button-one:hover{
    border-bottom: 1px solid #fff;
}
.section-four-button-two{
    min-width: 150px;
    margin-right: 20px;
    margin-left: 0px;
    background-color:#fff;
    border: 1px solid #fff;
    color: blue;
    max-width: 250px;
    padding: 15px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.building-div{
    display: flex;
}
.building-main-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.section-four-heading-two{
    font-size: 14px;
    color: #fff;
    font-weight: 100;
}
.protected-guard-image{
    margin: -2px 12px 0 24px;
}
footer{
    padding-top: 60px;
    background-color: #14181b;
}
.footer-div-1{
    margin: 0 204px 40px 204px;
    display: flex;
}
.footer-div-3{
    display: flex;
    flex-direction: column;
    margin: 0 36px;
}
.footer-div-2{
    margin-right: 50px;
}
.footer-image-one{
    width: 170px;
}
.footer-paragraph-one{
    color: #95a1ac;
    font-size: 16px;
    margin-bottom: 19px;
    width: 126%;
    margin-top: 10px;
}
.footer-heading-one{
    color: #95a1ac;
    font-size: 16px;
    margin-bottom: 27px;
    font-weight: 100;
    margin-top: 10px;
}
.footer-image-two{
    width: 140px;
}
.footer-heading-two{
    margin-bottom: 27px;
    font-family: Productsans, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}
.footer-links{
    margin-bottom: 13px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    text-decoration: none;
    font-size: 14px;
}
.footer-links:hover{
    text-decoration: underline;
}
.copywrite{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #262d34;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    text-align: center;
    font-size: 14px;
}
.combinator{
    padding: 50px 67px 10px 67px;
    background-color: #090f13;
    display: flex;
    justify-content: center;
}
.combinator-heading{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-size: 16px;
    text-align: left;
    margin-left: 31px;
}
.featured-heading{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-size: 16px;
    text-align: left;
}
.combinator-image{
    margin: 20px 65px 20px 30px;
}
.google-image{
    margin-top: 13px;
}
.leverage-div1{
    display: flex;
}
.leverage-div2{
    width: 346px;
    height: 277px;
    border-style: solid;
    border-width: 1px;
    border-color: #14181b;
    border-radius: 8px;
    background-color: #090f13;
    padding-left: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.leverage-heading{
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    width: 101%;
    margin-bottom: 20px;
}
.leverage-paragraph{
    margin-bottom: 10px;
    font-family: Productsans, sans-serif;
    color: #95a1ac;
    font-size: 16px;
    text-align: left;
    width: 100%;
}